body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
    color: #333;
}

h1 {
    text-align: center;
    color: #0056b3;
}

h2 {
    color: #333;
    margin-top: 20px;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003d80;
}

.file-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.file-item {
    width: 150px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.file-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.group-checkbox {
    margin-right: 10px;
}

.sidebar {
    max-width: 20%;
    min-width: 200px;
    width: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
